.lista-suspensa-form {
    border-radius: 8px;
    background-color: #4A4949;
    border: 1px solid #4A4949;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: white;
    padding: 8px 16px;

}
